.divInstructions {
    position: fixed;
    bottom: 48px;
    background-color: #E8F2F6;
    height: 10em;
    padding: 0.5em 0.8em;
    overflow:scroll;
    width: 100%;
}


.liInstructions {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 0.2em 0 0.2em 0;
}

.direction {
    color: #41729F;
    font-weight: 600;
}

.length {
    color: #D09683;
    font-weight: 700;
}

.heading {
    color: #41729F;
    font-weight: 700;
}

.street {
    color: #9b72b5;
    font-weight: 700;
}

.buttonSave {
    height: 2em;
}

.divTopSummary {
    display: flex;
    justify-content: flex-end;
}

.modal-backdrop {
    display: none;
}

#ModalBookmark {
    z-index: 99 !important;
    position: absolute;
}

.modal-dialog {
    z-index: 99 !important;
}