@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

.divRouting {
    position: fixed;
    z-index:99;
    background-color: #E8F2F6;
    display: flex;
    flex-direction: column;
    top: 3em;
    right: 2em;
    left: 2em;
    border-radius: 3px;
}

.input {
    padding: 0.4em;
    margin: 0.5em;
    background-color: #E8F2F6;
    border: none;
    font-family: 'Open Sans Hebrew', sans-serif;
}

.inputStarting {
    background: url(../img/Navigation.png) no-repeat scroll 7px;
    padding-left:40px;
}

.inputStarting:focus {
    color: #41729F;
}

.inputEnding {
    background: url(../img/Location.png) no-repeat scroll 7px;
    padding-left:40px;
}

.buttonRoute {
    width: 1.5em;
    background-color: #D09683;
    padding: 0.25em;
    border-radius: 100%;
    align-self: flex-end;
    margin: 0 0.5em 0.3em 0;
}

/* .buttonRoute {
    background: url(../img/search.png) no-repeat scroll 7px;
    background-color: #D09683;
    padding: 0.5em 0.5em 0.5em 2em;
    width: 11em;
    border-radius: 5px;
    font-family: 'Open Sans Hebrew', sans-serif;
    color: #fff;
    font-size: 12px;
    align-self: flex-end;
    margin: 0 0.5em 0.3em 0;
} */

.list {
    list-style: none;
    z-index: 200;
}

.listStarting {

}