
@media (min-width:200px) and (max-width:1200px){
  /* Login & registro */
  .containe{
    max-width: 403px;
    margin-left: 24%;
  
  }
  .logo{
    width:79%;
  }
  h5 {
    margin-top: 15%;
    color: rgba(10, 98, 180, 0.712);
    width: 92%;    
    text-align: center;
    margin-left: -4%;
  }
  #crearCuenta{
    margin-top: 5%;
    width: 64%;
    background-color:rgba(194, 104, 19, 0.76);
    color:white;
    margin-left: 8%;
    margin-top: 11%;
    border-color:rgba(194, 104, 19, 0.822);
  }
  #iniciarSesion{
    margin-left: 8%;
    width: 64%;   
    margin-top: 5%;   
    border-color: rgba(194, 104, 19, 0.822);   
    color: rgba(194, 104, 19, 0.822);
    
  }
  .botones {
    margin-left: 21%;
    margin-top: 11%;
  }
}

