
@media (min-width:200px) and (max-width:800px){
  /* Login & registro */
  .containe{
    max-width: 403px;
    margin-left: 24%;
  
  }
  .logo{
    width:79%;
  }
  h5 {
    margin-top: 15%;
    color: rgba(18, 18, 128, 0.822);
    width: 92%;    
    text-align: center;
    margin-left: -4%;
  }
  #crearCuenta{
    margin-top: 5%;
    width: 64%;
    background-color:rgba(18, 18, 128, 0.822);
    color:white;
    margin-left: 8%;
    margin-top: 11%;
  }
  #iniciarSesion{
    margin-left: 8%;
    width: 64%;
    margin-top: 5%;
    
  }
  .botones {
    margin-left: 21%;
    margin-top: 11%;
  }
}

