.containerVideos{
    display: flex;
    flex-direction: column;
}

.rating-form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.headerMusica{
    background: linear-gradient(194.07deg, #CDDDF4 3.26%, #CDBAFA 100%);
    text-align: center;
    width:100%;
    padding: 0.7em 0 0.5em 0;
}

.headerTextMusica {
    font-family: 'Sen', sans-serif;
    color: #41729F;
    text-align: center;
    margin-top: 3%;
}

.textCom {
    font-size: 25px;
    padding-bottom: 0.5em;
    margin-bottom: 0;
}

.btnMusica { 
    font-family:'Open Sans', sans-serif;
    margin-bottom: 0.7em;
    border: 2px solid #D09683;
    box-sizing: border-box;
    border-radius: 6px;
    color: #D09683;
    color: #E8F2F6;
    background-color: #D09683;
    font-size: 203%;
}